<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">

		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-5level %d [%thread - %X{deviceName}] %logger{36}.%M:%L - %msg%n</pattern>
		</layout>
	</appender>

	<logger name="jacorb" level="ERROR" />
	<logger name="org.tango" level="ERROR" />
	<logger name="org.quartz" level="ERROR" />
	<logger name="net.sf.ehcache" level="ERROR" />

	<root level="WARN">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>